@import url("https://fonts.googleapis.com/css?family=McLaren|Roboto&display=swap");

.header {
  background-color: #4267b2;
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

.til-facebook {
  color: #ffffff;
  margin: 0px 30px;
  font: 35px "McLaren";
}

.img-profile {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.p-profile {
  font: 15px "Roboto";
  color: #ffffff;
  margin: 0px 15px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-left: auto;
}
